
body{font-family: '微软雅黑'}
i{font-style: normal;}
.new-title{font-size:.8rem;color:#636363;text-align: center;padding:.9rem 0;}
.det-bl-f p,.det-bex-gr p,.det-bex-gr ul li{font-size: .76rem;margin-bottom: 0;}
.det-bl-f  p  i{margin-left: 1rem;font-size: .64rem;}
.share-code{width:100%;height: 100%;margin-top: 3rem;}